<div class="branch-detail">
    <div class="branch-detail-main">
        <div class="branch-detail-field"><strong>Code:</strong> <span class="branch-detail-field-value" data-field="code"></span></div>
        <div class="branch-detail-field"><strong>Name:</strong> <span class="branch-detail-field-value" data-field="name"></span></div>
        <div class="branch-detail-field"><strong>Address:</strong> <span class="branch-detail-field-value" data-field="address"></span></div>
        <div class="branch-detail-field"><strong>Phone:</strong> <span class="branch-detail-field-value" data-field="phone"></span></div>
        <div class="branch-detail-field"><strong>Email:</strong> <span class="branch-detail-field-value" data-field="email"></span></div>
        <div class="branch-detail-field"><strong>Opening Date:</strong> <span class="branch-detail-field-value" data-field="opening_date"></span></div>
        <div class="branch-detail-field"><strong>Status:</strong> <span class="branch-detail-field-value" data-field="is_active"></span></div>
    </div>
</div>
